<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MicroBuild.Core" version="0.2.0" targetFramework="net46" />
  
  <!--NOTE: When updating these versions, be sure to update packages.props-->
  <package id="Microsoft.VisualStudio.Shell.14.0" version="14.3.25407" />
  <package id="Microsoft.VisualStudio.Utilities" version="14.3.25407" />
</packages>