<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MicroBuild.Core" version="0.2.0" targetFramework="net46" />
  
  <!--NOTE: When updating these versions, be sure to update packages.props-->
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.6.27413" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.6.27413" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading" version="15.6.31" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.6.27413" targetFramework="net472" />
</packages>