bin
obj
*.suo
*.user
*.orig
*.sdf
*.opensdf
*.userprefs
ipch
debug/
release/
TestResults/
BuildResults.xml
*.results.xml
*.log
*.wrn
*.err
intermediate
*.metaproj
*.tmp
*.VC.opendb
packages/
packages.Desktop/
.vs/
Microsoft.VisualStudio.Glass
project.lock.json
.DS_Store
