---
parameters:
  displayName: 'Publish Pipeline Artifact'
  targetPath: '$(Build.ArtifactStagingDirectory)'
  artifactName: 'drop'
  condition: 'succeeded()'
  OneESPT: false # Indicates that this is running under the 1ES Pipeline Template
  sbomEnabled: true

steps:
- ${{ if eq(parameters['OneESPT'], true) }}:
  - task: 1ES.PublishPipelineArtifact@1
    displayName: ${{ parameters.displayName }}
    inputs:
      targetPath: ${{ parameters.targetPath }}
      artifactName: '${{ parameters.artifactName }}'
      sbomEnabled: ${{ parameters.sbomEnabled }}
    condition: ${{ parameters.condition }}
- ${{ else }}:
  - template: ../PublishPipelineArtifact.yml
    parameters:
      path: '${{ parameters.targetPath }}'
      artifactName: '${{ parameters.artifactName }}'
      displayName: ${{ parameters.displayName }}
      condition: ${{ parameters.condition }}
...