<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <FastFailOnCorruptedStateException enabled="true" />
    <bypassTrustedAppStrongNames enabled="true" />
    <DisableMSIPeek enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="4.5.0.0-12.0.0.0" newVersion="12.0.0.2"/>
        <codeBase version="12.0.0.2" href="..\..\..\..\PrivateAssemblies\Newtonsoft.Json.12.0.0.2\Newtonsoft.Json.dll"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Debugger.InteropA" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <codeBase version="9.0.0.0" href="..\..\..\..\PublicAssemblies\Microsoft.VisualStudio.Debugger.InteropA.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Debugger.Interop.10.0" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <codeBase version="10.0.0.0" href="..\..\..\..\PublicAssemblies\Microsoft.VisualStudio.Debugger.Interop.10.0.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Debugger.Interop.11.0" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <codeBase version="11.0.0.0" href="..\..\..\..\PublicAssemblies\Microsoft.VisualStudio.Debugger.Interop.11.0.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Debugger.Interop.12.0" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <codeBase version="12.0.0.0" href="..\..\..\..\PublicAssemblies\Microsoft.VisualStudio.Debugger.Interop.12.0.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Debugger.Interop.15.0" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <codeBase version="15.0.0.0" href="..\..\..\..\PublicAssemblies\Microsoft.VisualStudio.Debugger.Interop.15.0.dll"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.DebugEngineHost" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <codeBase version="1.0.0.0" href="vscode\Microsoft.DebugEngineHost.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>