<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <FastFailOnCorruptedStateException enabled="true" />
    <bypassTrustedAppStrongNames enabled="true" />
    <DisableMSIPeek enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="4.5.0.0-11.0.0.0" newVersion="12.0.2.0"/>
        <codeBase version="12.0.2.0" href="Newtonsoft.Json.dll"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.MICore" publicKeyToken="cfb98189dc466aca" culture="neutral"/>
        <codeBase version="14.0.0.0" href="..\Microsoft.MICore.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.MICore" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <codeBase version="14.0.0.0" href="..\Microsoft.MICore.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.MICore.XmlSerializers" culture="neutral"/>
        <codeBase version="14.0.0.0" href="..\Microsoft.MICore.XmlSerializers.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.MIDebugEngine" culture="neutral"/>
        <codeBase version="14.0.0.0" href="..\Microsoft.MIDebugEngine.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>