<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for MICore" Description="Code analysis rules for MICore.csproj." ToolsVersion="14.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <!-- Do not add Deprecated Rules https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-unported-deprecated-rules -->
    <Rule Id="CA1304" Action="Error" />
    <Rule Id="CA1305" Action="Error" />
    <Rule Id="CA1306" Action="Error" />
    <Rule Id="CA1307" Action="Error" />
    <Rule Id="CA1309" Action="Error" />
    <Rule Id="CA2100" Action="Error" />
    <Rule Id="CA2109" Action="Error" />
    <Rule Id="CA2119" Action="Error" />

    <!-- TODO(waan): Enable errors and warnings below -->

    <!-- Errors -->
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1032" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1065" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1724" Action="None" />
    <Rule Id="CA1801" Action="None" />
    <Rule Id="CA1805" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA1824" Action="None" />
    <Rule Id="CA2000" Action="None" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA2008" Action="None" />
    <Rule Id="CA2227" Action="None" />
    <Rule Id="CA2237" Action="None" />

    <!-- Warnings -->
    <Rule Id="CA1052" Action="None" />
    <Rule Id="CA1064" Action="None" />
    <Rule Id="CA1068" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1308" Action="None" />
    <Rule Id="CA1802" Action="None" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1815" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1823" Action="None" />
    <Rule Id="CA1825" Action="None" />
    <Rule Id="CA2213" Action="None" />
    <Rule Id="CA2241" Action="None" />
    <Rule Id="CA2248" Action="None" />
  </Rules>
</RuleSet>