<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="15.0.0" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.0.DesignTime" version="15.0.0" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Threading" version="15.8.0" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Workspace" version="15.0.0" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Workspace.VSIntegration" version="15.0.0" targetFramework="net45" />
</packages>
